/* Styling footer */
footer{
    padding-top: 20px;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: black;
    color: white;
}

footer #footer-info{
    display: flex;
    flex-wrap: wrap;
}

footer #footer-info span{
    margin: auto 4%;
}

#social-accounts li{
    display: inline-block;
    padding: 10px;
    font-size: 30px;
}

@media screen and (max-width : 600px){
    footer #logo-accounts{
        width: 100%;
    }
}

#img-container img{
    width: 60vw;
    min-width: 300px;
}
