/* Styling footer */
footer{
    padding-top: 20px;
    max-height: 75vh;
    overflow-y: scroll;
    background-color: #242424;
    color: white;
}

footer #footer-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer #footer-info span{
    text-transform: uppercase;
    font-size: small;
}

footer #footer-info #logo-accounts{
    padding-left: 20px;
}

#social-accounts li{
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: #5db64c;
}

.footer-list h6{
    color: #5db64c;
}

@media screen and (max-width : 1000px){
    footer #logo-accounts{
        width: 100%;
    }
}

#img-container img{
    width: 60vw;
    min-width: 300px;
}

footer::-webkit-scrollbar {
    display: none;
}
  
