body{
    margin : 0;
    font-family: sans-serif;
}

/* common styling elemnts */
ul{
    list-style: none;
    padding: 0;
}

li{
    list-style: none;
}

/* styling header */
/* HEADER TOP */
header{
    margin-top : 5vh;
}

header #nav-bar ul{
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    margin : 5vh auto;
}

header #nav-bar ul li{
    display: inline-block;
    margin : 2vh 2vw;
    color: #5db64c;
}


header #nav-bar-small{
    display: none;
}

@media screen and (max-width: 600px){
    header #nav-bar{
        display: none;
    }

    header #nav-bar-small{
        display: block;
        margin-bottom: 5%;
    }

    header #nav-bar-small #nav-menu{
        display: flex;
        /* align-items: center; */
        justify-content: space-evenly;
    }

    #nav-bar-small #menu{
        display : none;
        position: absolute;
        left: 70vw;
    }

    #nav-bar-small #logo img{
        max-width: 60vw;
    }

    #nav-bar-small #bar-icon:hover #menu{
        display: block;
    }
   
}


/* HEADER MIDDLE */
#header-middle{
    background-image: url(../images/Dev/Banner_1.jpg);
    background-position: center;
    background-size: auto;
    padding: 5vw;
}

#header-middle #remark-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 70px;
    height: 70px;
    font-weight: 500;
    font-size: small;    
    color : #5db64c;
    border-radius: 50%;
    border: 1px #5db64c solid;
    transform: rotate(-40deg);
    margin-bottom: -50px;
    text-transform: uppercase;
}

#header-middle h1{
    font-size: 8vh;
    margin-top: 0px;
    color: whitesmoke;
}

#header-middle #apar-search{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: center;
    max-width: fit-content;
}

#header-middle #apar-search div{
    padding: 30px;
    border-right: grey 1px solid;
}

#search-icon{
    font-size: 5vh;
    background-color: black;
    color: whitesmoke;
}


/* HEADER BOTTOM */
header #header-end{
    padding: 2vh;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #5db64c;
    background-color: gainsboro;
}

